{% extends "layout_web.html" %}

{% block layout %} 
<div 
  hx-ext="response-targets"
  class="flex justify-center items-center"
  >
  <form 
      class="w-full max-w-md" 
      hx-post="/login" 
      hx-target-error="#any-errors"
      hx-swap="innerHTML"
      x-data="{ mail: '', pw: '', btn_send: false }"
      @submit.prevent="btn_send = true"
      @htmx:after-request.camel="btn_send = false"
      >
      <div 
          class="mb-4"
          >
          <label
            class="label-input-text"
            for="email"
          >
            Email
          </label>
          <input
            class="input-text"
            id="email"
            name="email"
            aria-label="enter your email"
            type="text"
            placeholder="Email"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="email"
            required
            x-model="mail"
          />
        </div>
        <div class="mb-6">
          <label
            class="label-input-text"
            for="password"
          >
            Password
          </label>
          <input
            class="input-text"
            id="password"
            name="password"
            aria-label="enter your password"
            type="password"
            placeholder="******************"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="current-password"
            spellcheck="false"
            required
            x-model="pw"
          />
        </div>
        <div class="flex items-center justify-center">
          <button 
            id="submit_form" 
            :class="btn_send || (!mail.length || !pw.length) ? 'btn-form-primary-disabled' : 'btn-form-primary'"
            :disabled="btn_send || (!mail.length || !pw.length)"
            >
            Login
          </button>
        </div>
        <div id="any-errors"></div>
      </form>
</div>
{% endblock %}