{% macro new(text) %}
<head>
    <title>Mogcord - {{ text }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.2"> -->
    <script src="/s/js/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="./s/styling/main.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="s/favicon.ico">   
</head>
{% endmacro %}