<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mogcord{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.2">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <nav>
        nav
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer id="footer">
        footer
    </footer>
</body>
</html>