{%  import "macros/header.html" as header %}
{%  import "macros/nav.html" as nav %}

<!DOCTYPE html>
<html lang="en">
    {%- call header::new(title) -%}
<body 
    class="bg-neutral-900 flex flex-col h-screen justify-between"
    hx-boost="true"
    x-data
    >
    
    <main 
        class="mb-auto"
    >
        {% block content %}

        {% endblock %}
    </main>
    {% include "components/footer.html" %}
</body>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('navBarButtons', {
            is_logged_in: false,
            is_login_page: false,
 
            logged_in(is_logged_in) {
                this.is_logged_in = is_logged_in;
            },
            login_page(is_login_page) {
                this.is_login_page = is_login_page;
            }
        })
    })
</script>
</html>