<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mogcord{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.2"> -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/s/js/htmx.js"></script>
    <link href="/s/styling/main.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="s/favicon.ico">   
</head>
<body 
    class="bg-neutral-900 flex flex-col h-screen justify-between"
    hx-boost="true"
    >
    {% include "components/navbar.html" %}
    <main class="mb-auto">
        {% block content %}

        {% endblock %}
    </main>
    {% include "components/footer.html" %}
</body>
</html>