{% extends "layout_web.html" %}

{% block content %} 
<div 
  hx-ext="response-targets"
  class="flex justify-center items-center"
  >
  <form 
      class="w-full max-w-md" 
      hx-post="/register" 
      hx-target-error="#any-errors"
      hx-swap="innerHTML"
      >
        <div class="mb-4">
          <label
            class="label-input-text"
            for="email"
          >
            Email
          </label>
          <input
            class="input-text"
            name="email"
            aria-label="give your email"
            type="text"
            placeholder="Email"
            autocapitalize="off"
            autocomplete="email"
            required
          />
        </div>
        <div class="mb-6">
          <label
            class="label-input-text"
            for="password"
          >
            Password
          </label>
          <input
            class="input-text"
            name="password"
            aria-label="enter a secure password"
            type="password"
            placeholder="******************"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="new-password"
            spellcheck="false"
            required
          />
        </div>
        <div class="mb-6">
          <label
            class="label-input-text"
            for="confirm_password"
          >
            Confirm password
          </label>
          <input
            class="input-text"
            name="confirm_password"
            aria-label="repeat the secure password"
            type="password"
            placeholder="******************"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="new-password"
            spellcheck="false"
            required
          />
        </div>
        <div class="flex items-center justify-center">
          <button
            id="submit_form"
            class="btn-form-primary"
          >
            Register
          </button>
        </div>
        <div id="any-errors"></div>
      </form>
</div>
{% endblock %}