{% extends "layout_web.html" %}

{% block content %} 
<div 
  hx-ext="response-targets"
  class="flex justify-center items-center"
  >
  <form 
      class="w-full max-w-md" 
      hx-post="/register" 
      hx-target-error="#any-errors"
      hx-swap="innerHTML"
      x-data="{ mail: '', pw: '', pw_c: '', btn_send: false }"
      @submit.prevent="btn_send = true"
      @htmx:after-request.camel="btn_send = false"
      >
        <div class="mb-4">
          <label
            class="label-input-text"
            for="email"
          >
            Email
          </label>
          <input
            class="input-text"
            name="email"
            aria-label="give your email"
            type="text"
            placeholder="Email"
            autocapitalize="off"
            autocomplete="email"
            required
            x-model="mail"
          />
        </div>
        <div class="mb-6">
          <label
            class="label-input-text"
            for="password"
          >
            Password
          </label>
          <input
            class="input-text"
            name="password"
            aria-label="enter a secure password"
            type="password"
            placeholder="******************"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="new-password"
            spellcheck="false"
            required
            x-model="pw"
          />
        </div>
        <div class="mb-6">
          <label
            class="label-input-text"
            for="confirm_password"
          >
            Confirm password
          </label>
          <input
            class="input-text"
            name="confirm_password"
            aria-label="repeat the secure password"
            type="password"
            placeholder="******************"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="new-password"
            spellcheck="false"
            required
            x-model="pw_c"
          />
        </div>
        <div class="flex items-center justify-center">
          <button
            id="submit_form"
            :class="btn_send || (!mail.length || !pw.length || !pw_c.length) ? 'btn-form-primary-disabled' : 'btn-form-primary'"
            :disabled="btn_send || (!mail.length || !pw.length || !pw_c.length)"
          >
            Register
          </button>
        </div>
        <div id="any-errors"></div>
      </form>
</div>
{% endblock %}