<nav class="border-b border-white px-2 sm:px-4 py-2.5">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="/" class="flex items-center hover:no-underline">
            <img
                class="h-6 mr-3 sm:h-9"
                src="https://i.imgur.com/1CnGQe3.png"
                alt="Hehe cat"
            />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-white transition-colors duration-300 hover:text-blue-400">
                Mogcord.
            </span>
        </a>
    </div>
</nav>